#mug {
  width: 200px;
  float: left;
  margin: 0 20px;
}

html {
  height: 100%;
}

body {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  background-image: url("../images/crossline-lines.png");
  color: #777;
  height: 100%;
}

.page {
  min-height: 100%;
  margin-bottom: -68px;
}

h1 {
  font-family: "Georgia", Times, Times New Roman, serif;
  font-weight: bold;
  font-size: 150%;
  margin: 20px;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

header {
  display: block;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

header > .content {
  display: flex;
  width: 960px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

header > .content > h1 {
  padding: 20px;
  margin: 0;
  color: #fff;
  background-color: #4aaaa5;
}

.section {
  margin: 20px;
  padding-bottom: 20px;
}

.section > .content {
  display: block;
  width: 960px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ddd;
}

.section > .content > h1 {
  color: #4aaaa5;
  padding-bottom: 20px;
  border-bottom: 2px solid #ddd;
}

.section > .content > p {
  margin: 1em;
  line-height: 150%;
  letter-spacing: 2px;
  text-align: justify;
}

.push,
footer {
  height: 50px;
}

footer {
  display: flex;
  padding: 5px;
  background-color: #666;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-top: 8px solid #4aaaa5;
}

footer div {
  color: #fff;
  font-size: smaller;
}

nav {
  display: flex;
  color: #777;
  letter-spacing: 1px;
}

a {
  color: #777;
}

a:hover {
  text-decoration-line: underline;
  text-decoration-color: #4aaaa5;
  text-decoration-style: dashed;
}

nav a {
  border-right: 2px solid #777;
  padding: 0 20px;
}

nav a:first-child {
  padding-left: 0;
}

nav a:last-child {
  border: none;
  padding-right: 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.images {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.image {
  position: relative;
  margin: 0 25px 40px 20px;
}

.image > div {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  color: #fff;
  background-color: #4aaaa5;
  font-family: "Georgia", Times, Times New Roman, serif;
}

fieldset {
  display: flex;
  margin: 20px;
}

label,
button {
  margin: 5px 0;
}

input,
textarea {
  width: 100%;
  margin: 5px 0;
  margin-bottom: 20px;
}

button {
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
  padding: 10px;
  color: #fff;
  background-color: #4aaaa5;
  width: 100px;
}

@media screen and (max-width: 980px) {
  header {
    padding: 0 20px;
  }

  .section > .content {
    width: 600px;
    margin-left: 0;
  }

  header > .content {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .section > .content {
    width: 100%;
  }

  header {
    padding: 0 20px;
  }

  header > .content {
    width: 100%;
  }

  nav {
    margin: 20px 20px;
  }
}

@media screen and (max-width: 640px) {
  .section > .content {
    width: 100%;
  }

  .figure {
    padding: 0 20px;
  }

  #mug {
    float: none;
    width: 100%;
    margin: 0 auto;
  }

  header {
    position: static;
  }

  header > .content {
    width: 100%;
    display: block;
    text-align: center;
  }

  nav {
    width: 100%;
    justify-content: center;
    margin: 20px 0;
  }
}
